
body { 
     background-color: #f5f5f5;
}

.p-accordion-header, .p-accordion-header-link {
    background-color: var(--primary-color) !important;
    background : var(--primary-color) !important;
    border-color: var(--primary-color) !important;
    color: white !important
}	

#app {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #2c3e50;
  }